@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
  height: 100%;
}
i {
  font-style: normal;
}
a {
  color: #fff;
}
#app {
  height: 100%;
  position: relative;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
  overflow: hidden;
  font-size: 0;
  height: 0;
}
.flex {
  display: flex;
}
.disable {
  opacity: 0.5;
  pointer-events: none;
}
.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.van-cell:last-child::after {
  content: ' ';
  position: absolute;
  // 消除伪元素事件
  pointer-events: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 15px;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
  border-bottom: 1px solid $gray;
}
.van-cell::after {
  border-bottom-color: $gray!important;
}
.van-button {
  display: block;
  width: 90%;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  background-color: $green;
  border: 1px solid $green;
  color: #fff;
}
.van-radio__icon--checked .van-icon {
  border-color: $yellow;
  background-color: $yellow;
}
.van-collapse-item__content {
  color: #323233;
}
i.iconfont, i.van-icon{
  color: $green;
}
.van-tabs__line {
  background-color: $yellow;
}